<!-- <div class="body-container">
       <div class="container">
        <div class="row">
            <div class="col-md-12"> -->
          <table class="bordered-table zebra-striped" ng-controller="SongListCtrl">
        <thead>
          <tr>
            <th>Play</th>
            <th>Songs</th>
            <th class="no-left-border"></th>
            <th>Artists</th>
            <th>Popularity</th>
          </tr>
        </thead>
        <tbody ui-sortable>

          <tr ng-repeat="slist in songlist">
            <td><i class="glyphicon glyphicon-play"></i></td>
            <td>{{slist.songs}}</td>
            <td class="no-left-border"><i class="glyphicon glyphicon-heart"></i></td>
            <td>{{slist.songs}}</td>
            <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></td>
          </tr>

        </tbody>

      </table>  
            <!-- </div>  <!-- enddiv for class col-md-9 
        </div>
         </div>
         </div> -->
               
               <!--<div ng-controller="MainCtrl">
               <div class="gridStyle" ng-grid="gridOptions"></div>
               </div>  -->

