<div >
  <table>
    <thead>
      <tr>
        <th>♥</th>
        <th>Title</th>
        <th>Artist</th>
        <th>MP3</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="s in songs.data.songs">
        <td>♥</td>
        <td>{{ s.title }}</td>
        <td>{{ s.artist }}</td>
        <td music-player file-path="s.file"></td>
      </tr>
    </tbody>
  </table>
</div>


<div ng-show="angularTemplatesApp">

<h3>{{songlist.songs}}</h3>>

<h4>{{songlist.artists}}</h4>>

<ul>
    
    <li ng-repeat="s in songs.data.songs">
        
        {{songlist.songs}} {{songlist.songs}}
    </li>
</ul>
    

</div>

<div class="body-container">
       <div class="container">
        <div class="row">
            <div class="col-md-12">

<div>Welcome to my home page</div>
             </div>
       </div>
       </div>
