<div >
  <table class="bordered-table zebra-striped">
    <thead>
      <tr>
        <th>Play</th>
        <th>Title</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody  ui-sortable>
      <tr ng-repeat="(k,s) in albumSongs|linear">
        <!--<td><img ng-src="{{s.image}}"/></td>-->
        <td> <a href="#" ng-click="playSong(s,s.id); $event.preventDefault();"><i class="glyphicon glyphicon-play"></i></a></td>
        <td>{{ s.title }}</td>
        <td>{{ s.image }}</td>
        <td>{{ s.artist }}</td>
        <td><i class="glyphicon glyphicon-heart"></i></td>        
      </tr>
    </tbody>
  </table>
</div>


<!-- <div ng-show="angularTemplatesApp">

<h3>{{songlist.songs}}</h3>>

<h4>{{songlist.artists}}</h4>>

<ul>
    
    <li ng-repeat="(k,s) in songs.data.songs">
        
        {{songlist.songs}} {{songlist.songs}}
    </li>
</ul>
    

</div>

<div class="body-container">
       <div class="container">
        <div class="row">
            <div class="col-md-12">


             </div>
       </div>
       </div>
 -->